body {
  margin:0;
  padding:0;
  background-color:#283747;
}

p {
  font-family:sans-serif;
  color:white;
  text-indent:20px;
}

@media screen and (min-width: 600px) {
  /*Then we deliver the desktop stylesheet navbar*/
  .nav {
    position:fixed;
    transition-duration:0.5s; /*We need this to tell the browser to transition slowly back to normal*/
    width:100%;
    margin:0;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,29,115,1) 100%);
    height:30px;
  }

  .nav:hover {
    transition-duration:0.5s;
    padding:5px;
  }
  .nav-mobile-open {
    display:none; /*Get rid of this*/
  }

  .nav-plist {
    display:flex;
  }

  .nav-page {
    transition-duration:0.5s;
    text-decoration:none;
    color:white;
    padding:5px;
    display:inline-block;
    font-family: 'Ubuntu', sans-serif;
  }

  .nav-page:visited {
    color:white; /*Override some wacko behavior, maybe a FF bug.*/
  }

  .nav-page:hover {
    transition-duration:0.5s;
    color:blue;
    font-size:20px;
  }
}

@media screen and (max-width: 600px) {
  /*Then we deliver the mobile nav button*/
  .nav {
    position:fixed;
    display:block;
    bottom:0;
    height:50px;
    width:50px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
  }
  .nav-mobile-open {
    background: #2c19a6;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    width:100%;
    height:100%;
    color:white;
    font-size:30px;
    border:0;
    border-radius:10px;
  }
  .nav-plist {
    display:none; /*FLEX for ON, NONE for OFF*/
    position:fixed;
    padding-top:50px; /*Fix for when there are more than 5 links, but breaks when it actually fits
    width:100%;
    box-sizing:border-box;
    height:80vw;
    bottom:50px;
    background: rgb(0,0,0);
    background: linear-gradient(30deg, rgba(0,0,0,1) 0%, rgba(0,29,115,1) 100%);
    left:0;
    border-radius:30px;
    overflow:scroll;
    /*Flexbox ordering*/
    flex-flow:column nowrap;
    justify-content: space-around;
  }
  .nav-page {
    background-color:rgba(255,255,255,0.2);
    display:block;
    margin:1%;
    margin-left:auto;
    margin-right:auto;
    border-radius:70px;
    width:95%;
    color:white;
    box-sizing:border-box;
    text-decoration:none;
    font-family: 'Ubuntu', sans-serif;
    text-align:center;
    padding:5%;
  }
  .nav-page:visited {
    color:white;
  }
}

ul {
  font-family:sans-serif;
  color:white;
}
.centerthetext {
  text-align:center;
  text-indent:0; /*Reset it if the class is formatted that way*/
}
a:visited {
  color:green;
  /*Purple is nigh impossible to see on the dark background*/
}
h1 {
  margin:0;
  font-family: 'Montserrat', sans-serif;
  /*Font from https://fonts.google.com/specimen/Montserrat*/
  text-align:center;
  color:white;
  text-shadow:1px 1px 10px black;
}

h2 {
  font-family: 'Roboto Mono', monospace;
  color:white;
  text-align:center;
}

.para-header {
  padding-top:15vh;
  text-shadow:1px 1px 5px black;
}
/*Parallax*/

.parallax-img {
  background-image: url("img/backgrounds/default.png");
  height: 50vh;
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-img-instagram {
  background-image: url("img/backgrounds/insta.jpg");
  height: 50vh;
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-img-vmf {
  background-image: url("img/backgrounds/editorbackground.png");
  height: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-img-404 {
  background-image: url("img/backgrounds/default.png"); /*Eventually these will get their own images*/
  height: 100vh;
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.para-header-tall {
  padding-top:50vh; /*For (you guessed it) tall parallaxes such as 404.*/
  text-shadow:1px 1px 5px black;
}

.button {
  display:block;
  text-align:center;
  background: rgb(20,25,133);
  background: radial-gradient(circle, rgba(20,25,133,1) 0%, rgba(22,22,105,1) 100%);
  width:min(35%, 500px);
  margin-left:auto;
  box-sizing:border-box;
  font-family: 'Ubuntu', sans-serif;
  font-size:20px;
  margin-right:auto;
  padding: min(2.5%, 30px);
  border-radius:100px;
  color:white;
  text-decoration:none;
  transition-duration:0.5s;
}

.button:hover {
  transition-duration:0.5s;
  border-radius:15px;
  width:65%;
}

.button:focus-visible {
  /*Fill the focus thing when tabbed on (Chrome only; FF rounds it)*/
  transition-duration:0.5s;
  border-radius:0px;
}

a.button:visited {
  color:white; /*Override visited link color*/
}
/*moved these to put em together :)*/
.ibutton {
  display:inline-block;
  text-align:center;
  background: rgb(20,25,133);
  background: radial-gradient(circle, rgba(20,25,133,1) 0%, rgba(22,22,105,1) 100%);
  font-family: 'Ubuntu', sans-serif;
  font-size:20px;
  width:max(25vw,150px);
  padding:2.5%;
  border-radius:100px;
  color:white;
  text-decoration:none;
  transition-duration:0.5s;
}

.ibutton:hover {
  transition-duration:0.5s;
  border-radius:15px;
  width:min(45%, 700px);
}

.ibutton:focus-visible {
  /*Fill the focus thing when tabbed on*/
  transition-duration:0.5s;
  border-radius:0px;
}
a:visited.ibutton  {
  color:white; /*Force disable custom visited color*/
}

.ibutton-icon {
  /*for icon-sized buttons*/
  display:inline-block;
  text-align:center;
  background: rgb(20,25,133);
  background: radial-gradient(circle, rgba(20,25,133,1) 0%, rgba(22,22,105,1) 100%);
  max-width:max(7vw, 90px);
  max-height:max(7vw, 90px);
  padding:0.5%;
  border-radius:70px;
  color:white;
  text-decoration:none;
  transition-duration:0.5s;
  box-sizing:border-box;
  position:absolute;
  right:0;
}

.ibutton-icon:hover {
  transition-duration:0.5s;
  border-radius:20px;
  padding:0.5%;
}

.ibutton-icon:focus-visible {
  /*Fill the focus thing when tabbed on*/
  transition-duration:0.5s;
  border-radius:0px;
}
a:visited.ibutton-icon  {
  color:white; /*Force disable custom visited color*/
}

.ibutton-icon {
  /*Specific to the icon image*/
  height:max(6vw,60px);
  width:max(6vw,60px);
}

.ibutton-triplet {
  /*HAS OLD BUTTON DESIGN, NOT CURRENTLY USED!*/
  display:inline-block;
  background: rgb(20,25,133);
  background: radial-gradient(circle, rgba(20,25,133,1) 0%, rgba(22,22,105,1) 100%);
  font-family: 'Ubuntu', sans-serif;
  font-size:20px;
  width: max(15vw, 100px);
  text-align:center;
  padding:2.5%;
  border-radius:100px;
  color:white;
  text-decoration:none;
  transition-duration:0.5s;
}
.ibutton-triplet:hover {
  transition-duration:0.5s;
  border-radius:20px;
}

.ibutton-triplet:focus-visible {
  transition-duration:0.5s;
  border-radius:0px;
}
a:visited.ibutton-triplet {
  color:white;
}

.buttondiv {
  display:flex; /*Without flex, it looked weird.*/
  margin-left:auto;
  margin-right:auto;
  width:100%;
  flex-direction:row;
  justify-content:space-around;
}

.blog-post-link {
  display:block;
  box-sizing:border-box;
  width:100%;
  text-align:center;
  font-family: 'Ubuntu', sans-serif;
  color:white;
  text-decoration:none;
  background-color:#494853;
  padding:min(5%, 25px);
}

a:visited.blog-post-link {
  color:white;
}

.blog-post-altcolor {
  background-color:#34333a;
}

.round-corner {
  border-radius:15px;
  overflow:hidden;
}

.main {
  margin:5%;
}

footer {
  padding:5%; /*Needs padding because it has color*/
  background-color:#17202A;
  text-align:center;
  padding-bottom:50px; /*Scroll "docker" space that holds the menu button at the bottom for mobile. Looks decent on desktop too.*/
}

/*Navwrapper removed here*/

/*For the footer list of credits*/
.creditlist {
  list-style-type:none;
  text-align:center;
  text-indent:0; /*For whatever reason, still off-center on screens bigger than 768p*/
}

.credititem {
  text-decoration:none;
  font-family:monospace;
  color:white;
}

.socialicon {
  transition-duration:1s;
  background-color:white;
  display:inline-block;
  padding:1%;
  border-radius:25px;
  width:125px;
  height:125px;
}

.socialicon:hover {
  transition-duration:1s;
  border-radius:75px;
  padding:0%;
  margin:1%;
  background-color:transparent;
}

.socialicon:focus-visible {
  transition-duration:0.5s;
  /*Reset stuff*/
  border-radius:0px; /*Except sharp corners :)*/
  padding:1%;
  margin:0%;
  background-color:white;
}


.socialdisplay {
  text-align:center;
}

.iggrid {
  display:flex;
  flex-flow: row wrap;
  justify-content:center;
}

.igimg {
  border-radius:15px;
  border-color:navy; /*Avoid transitioning from default*/
  max-width:256px;
  box-sizing:border-box;
}

button.nostyle { /*Fix some fringe issues with HTML buttons, mostly on the ig bit*/
  border:0 solid black;
  background-color:transparent;
}

.igimg:hover {
  transition-duration:1s;
  border: 10px solid navy;
}

.ighiddenpopup {
  display:none;
  position:fixed;
  top:0;
  margin:10%;
  width:70vw;
  margin-top:30vh;
  background-color:#17202A;
  padding:5%;
  border: 2px solid #283747;
  border-radius:15px;
}

.cornerbtn-close {
  position:absolute;
  top:0;
  right:0;
  background-image: url(img/Closebtn.png);
  background-size:contain;
  background-color:transparent;
  border:0;
  width:30px;
  height:30px
}

.fillContainer {
  width:100%;
}

.demoimg {
  transition-duration:1s;
  float:left;
  width:30%;
  height:auto;
  max-height:35vh;
  object-fit:contain;
}

.demoimg:hover {
  transition-duration:1s;
  width:50vw;
  max-height:60vh;
}

/*Demoimgright removed because it was better to use inline CSS to do that.*/
